schema1.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="library">
        <xs:complextype>
              <xs:sequence>
                <xs:element name="book" maxOccurs="unbounded">
                <xs:complextype>
		  <xs:sequence>
		   <xs:element name="title" type="xs:string"/>
		   <xs:element name="author" type="xs:string" maxOccurs="unbounded"/>
		  </xs:sequence>
                </xs:complextype>
	
		</xs:element>
		</xs:sequence>
		<xs:attribute name="owner" type="xs:string" use="required"/>
                </xs:complextype>
</xs:element>
</xs:schema>